{% extends 'women/base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>

{% if post.photo %}
    <p><img class="img-article-left" src="{{ post.photo.url }}"></p>
{% endif %}

{{ post.content|linebreaks }}
<form action="" method="POST" >
    {% csrf_token %}
    <input class="postlike" type="submit" name="like" value=" Нажми меня нежно {{ post.like }}">
    <input class="postlike" type="submit" name="dislike" value=" Нажми меня c хейтом {{ post.like }}">
</form>

<form action="" method="POST" >
    {% csrf_token %}
    <input class="postlike" type="submit" name="like" value="оставить коментарий">

</form>
{% endblock %}